<template>
  <div class="headerComponent">
    <div class="navbar">
      <a href="https://www.warehouse-nantes.fr/" class="logo"></a>
      <div class="nav-content text-uppercase">
        <a href="https://www.warehouse-nantes.fr/event" class="nav-link"
          >agenda</a
        >
        <a
          href="https://www.warehouse-nantes.fr/concept/campus-du-warehouse"
          class="nav-link"
          >campus</a
        >
        <a href="https://www.warehouse-nantes.fr/shop" class="nav-link">shop</a>
        <a href="https://www.warehouse-nantes.fr/webzine" class="nav-link"
          >webzine</a
        >
        <a href="https://www.warehouse-nantes.fr/pratique" class="nav-link"
          >pratique</a
        >
        <div class="nav-link">plus</div>
        <div class="nav-icon">
          <a
            href="https://www.warehouse-nantes.fr/cart"
            class="fa-shopping-bag"
          ></a>
          <a href="https://www.warehouse-nantes.fr/login" class="fa-user"></a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.headerComponent {
  position: fixed;
  top: 0;
  display: flex;
  height: 61px;
  width: 100%;
  line-height: 21px;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 14px;
  background-color: var(--background-header-color);
  .navbar {
    height: 100%;
    width: 100%;
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    .nav-content {
      display: flex;
      .nav-link {
        margin-left: 12px;
        margin-right: 12px;
        text-decoration: none;
        color: var(--primary-color);
        position: relative;

        &:hover {
          cursor: pointer;
          text-decoration: none;
          color: var(--primary-color);
          &::after {
            content: '';
            display: block;
            background: var(--primary-color);
            width: 100%;
            height: 2px;
            position: absolute;
          }
        }
        &:active {
          &::after {
            content: '';
            display: block;
            background: var(--primary-color);
            width: 100%;
            height: 2px;
            position: absolute;
          }
        }
        &:focus {
          text-decoration: none;
          color: var(--primary-color);
        }
      }
      .nav-icon {
        display: flex;
        margin-left: 48px;
        &:hover {
          cursor: pointer;
        }
        .fa-shopping-bag {
          background: url('~assets/shopping-bag-solid.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 13px;
          filter: invert(25%) sepia(8%) saturate(1375%) hue-rotate(184deg)
            brightness(96%) contrast(89%);
        }
        .fa-user {
          background: url('~assets/user-regular.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 13px;
          margin-left: 7px;
          filter: invert(25%) sepia(8%) saturate(1375%) hue-rotate(184deg)
            brightness(96%) contrast(89%);
        }
        a {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
.logo {
  width: 190px;
  background: url('~assets/logotypo.svg');
  background-size: 190px;
  height: 24px;
  background-repeat: no-repeat;
}
</style>
