<template>
  <div class="containerTreasurhunt">
    <div class="backgroundImg"></div>
    <h1 class="text-uppercase">WareGift</h1>
    <div class="content">
      <div v-if="!checkCode" class="block addCode">
        <div>Entrer votre code ici</div>
        <input type="text" v-model="tmp" />
        <button @click="valideCode" class="btn-validate">Valider</button>
      </div>

      <div v-if="testCode && !checkCode" class="badCode">Code incorrect</div>

      <div v-if="checkCode && !showAnswer" class="block question">
        <div>{{ question }}</div>
        <div class="questionContainer">
          <div>
            <input type="radio" id="yes" :value="true" v-model="choice" />
            <label for="yes">{{ anwser.YES }}</label>
          </div>
          <div>
            <input type="radio" id="no" :value="false" v-model="choice" />
            <label for="no">{{ anwser.NO }}</label>
          </div>
        </div>
        <button @click="validate" class="btn-validate">Valider</button>
      </div>

      <div v-if="showAnswer" class="resTitle">{{ res }}</div>

      <div v-if="checkCode && checkResult" class="block">
        <div class="resText">
          Voici votre code cadeau à utiliser dans notre boutique
        </div>
        <div class="resCode">{{ giftCode }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  QUESTION,
  GIFTCODE,
  ANSWER,
  GOODANSWER,
  BADANSWER,
  GOODCODE,
} from '~/constant.js'
export default {
  data() {
    return {
      tmp: '',
      code: '',
      question: QUESTION,
      res: '',
      giftCode: GIFTCODE,
      choice: '',
      showAnswer: false,
      testCode: false,
      anwser: ANSWER,
    }
  },
  methods: {
    validate() {
      this.showAnswer = true
      if (this.choice) {
        this.res = GOODANSWER
      } else {
        this.res = BADANSWER
      }
    },
    valideCode() {
      this.code = this.tmp
      this.testCode = true
    },
  },
  computed: {
    checkCode() {
      return this.code === GOODCODE
    },
    checkResult() {
      return this.res === GOODANSWER
    },
  },
}
</script>
<style lang="scss" scoped>
h1 {
  position: absolute;
  top: 270.5px;
  left: 50%;
  margin-left: -80px;
  color: white;
  text-shadow: 0 0 6px var(--dark);
}
.containerTreasurhunt {
  width: 100%;
  margin-top: 61px;
  display: flex;
  flex-direction: column;
}
.backgroundImg {
  width: 100%;
  height: 480px;
  background: url('~assets/question.jpg');
  background-repeat: no-repeat;
  background-position-y: -300px;
  background-size: 1920px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.btn-validate {
  color: #fff;
  background-color: #1fc386;
  border-color: #1eb87f;
  text-decoration: none;
  border: none;
  border-radius: 0.25em;
  height: 30px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }
}
.block {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.addCode {
  margin-bottom: 10px;
  div {
    font-size: 25px;
    padding-bottom: 25px;
  }
  input {
    padding: 5px;
    margin-bottom: 15px;
  }
}

.question {
  div {
    margin-bottom: 20px;
  }
}
.questionContainer {
  display: flex;
  justify-content: space-around;
  div {
    input,
    label {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.resTitle {
  margin-bottom: 20px;
  font-size: 25px;
}
.resText {
  margin-bottom: 5px;
}
.resCode {
  font-size: 20px;
  user-select: text;
}
.badCode {
  color: red;
  font-size: 20px;
}
</style>
